# 20210205-gs-cc-hidrologia

## 1. Imports

In [1]:
import geopandas as gpd

## 2. Load data

### 2.1 Hidrologicas
#### 2.1.1 PMD (*.gpkg*):

In [6]:
pmd = gpd.read_file('hidrologia/PMD/Estaciones PMD.gpkg')
print(pmd.shape)
pmd.head(2)

(70, 14)

,Código,Nombre,Latitud,Longitud,msnm,PMD <br>2 ańos,PMD <br>5 ańos,PMD <br>10 ańos,PMD <br>25 ańos,PMD <br>50 ańos,PMD <br>100 ańos,VLEP <br>1 día,VLEP <br>24 hs,geometry
0,100,Santo Tomás,-31.565278,-64.826373,2250.0,67.0,89.0,103.0,119.0,131.0,143.0,401.0,432.0,POINT (4326597.640 6506869.586)
1,200,Puesto Pereyra (Los Gigantes),-31.448889,-64.808874,2292.0,68.0,90.0,104.0,121.0,134.0,146.0,408.0,439.0,POINT (4328046.233 6519805.123)

In [12]:
pmd['Nombre'].value_counts()

Las Junturas Cosquín            1
Capilla de los Remedios         1
Chateau                         1
Parque Nacional El Condorito    1
La Suela                        1
                               ..
Puesto Garay                    1
El Galpón                       1
Confluencia El Cajón            1
Las Vertientes                  1
Camino El Cuadrado              1
Name: Nombre, Length: 70, dtype: int64

#### 2.1.2 Cuencas hidrográficas (*.shp*)

In [13]:
cuenca = gpd.read_file('Cuencas_Hidrograficas/Cuencas_Hidrograficas.shp')
print(cuenca.shape)
cuenca.head(2)

(7, 35)

,OBJECTID,COD_CUENCA,ZONA,CUENCA,GlobalID,Varones,Mujeres,Poblacion,Hogares,Viv_Constr,...,Sup_Cuerpo,Long_Curso,Altura_max,Altura_min,Sup_Cuenca,Perim_Cuen,Shape__Are,Shape__Len,Link_PDF,geometry
0,1,05,Sureste,La Picasa,a6d54c4d-611e-435f-922d-1ad0d79559e8,1151.0,1133.0,2284.0,750.0,361.0,...,105.453400,NaN,179.0,95.0,2451.378313,255.668199,2.451378e+09,255668.198793,None,"POLYGON ((4448432.262 6213577.545, 4448619.467..."
1,2,06,Este,RÃ­o Juramento Salado,5baf50a2-dfbd-45c5-91e3-1387a7c3b2af,19760.0,20855.0,40615.0,13153.0,6280.0,...,2.624396,NaN,130.0,89.0,1940.983436,269.655384,1.940983e+09,269655.384197,None,"POLYGON ((4575700.625 6537398.131, 4575700.625..."

In [14]:
cuenca['CUENCA'].value_counts()

Salinas Grandes                            1
Laguna Mar Chiquita (Mar de Ansenuza)      1
RÃ­o CarcaraÃ±Ã¡                           1
La Picasa                                  1
RÃ­o Juramento Salado                      1
RegiÃ³n Noroeste de la Llanura Pampeana    1
Name: CUENCA, dtype: int64

In [15]:
cuenca.columns

Index(['OBJECTID', 'COD_CUENCA', 'ZONA', 'CUENCA', 'GlobalID', 'Varones',
       'Mujeres', 'Poblacion', 'Hogares', 'Viv_Constr', 'Viv_Cons_1',
       'Viv_Cons_2', 'Serv_Conex', 'Serv_Con_1', 'Serv_Con_2', 'Urbano',
       'RuralAgrup', 'RuralDispe', 'Viviendas', 'Superficie', 'Superfic_1',
       'Superfic_2', 'Superfic_3', 'Superfic_4', 'Superfic_5', 'Sup_Cuerpo',
       'Long_Curso', 'Altura_max', 'Altura_min', 'Sup_Cuenca', 'Perim_Cuen',
       'Shape__Are', 'Shape__Len', 'Link_PDF', 'geometry'],
      dtype='object')

#### 2.1.3 Cuerpos de agua naturales

In [16]:
cuerpo = gpd.read_file('Cuerpos_de_agua_naturales/Cuerpos_de_agua_naturales.shp')
print(cuerpo.shape)
cuerpo.head(3)

(1583, 4)

,OBJECTID_1,NCOMPLETO,GlobalID,geometry
0,1,None,8a5a3f69-3849-4526-ac46-e7cf8b73c100,"POLYGON ((4380901.828 6250452.875, 4380902.602..."
1,2,Lag. Lavar,186b05e5-324a-4004-a60d-0c94379b88ff,"POLYGON ((4507584.433 6304805.294, 4507687.795..."
2,3,Lag. La Amarga,935a8550-4367-42b1-bf11-4ee3f691a261,"POLYGON ((4441371.070 6189358.325, 4441370.685..."

In [17]:
cuerpo['NCOMPLETO'].value_counts()

Lag. Viscachas                 5
Lag. La Salada                 5
Lag. La Amarga                 2
Lag. El TrÃ©bol                2
Lag. La Sal                    2
                              ..
Lag. Las Conchas               1
BaÃ±ados del RÃ­o Saladillo    1
Lag. La Totora                 1
Lag. Las Toscas                1
Lag. Ralico                    1
Name: NCOMPLETO, Length: 121, dtype: int64

#### 2.1.4 Cursos de agua

In [18]:
curso = gpd.read_file('Cursos_de_agua/Cursos_de_agua_para_descargar.shp')
print(curso.shape)
curso.head(3)

(3739, 8)

,OBJECTID,NCOMPLETO,TIPO,Departamen,Cuenca,Subcuenca_,GlobalID,geometry
0,1,A. Cachirla*,Arroyo,Ischilnn,Laguna Mar Chiquita (Mar de Ansenuza),Rao Los Mistoles,74937fb8-8aad-4c8a-8896-a0ab003914b8,"LINESTRING (4372011.305 6597972.442, 4372062.1..."
1,2,A. Tacuarita*,Arroyo,Ischilnn,Laguna Mar Chiquita (Mar de Ansenuza),Rao Los Mistoles,48301e46-1c98-437a-aaea-adf725583fa2,"LINESTRING (4374105.457 6597953.381, 4374090.9..."
2,3,None,Arroyo,Ischilnn,Laguna Mar Chiquita (Mar de Ansenuza),Rao Los Mistoles,0049850b-17e7-40bf-a236-3dc0e049720c,"LINESTRING (4375179.189 6599289.251, 4375168.8..."

In [19]:
curso['NCOMPLETO'].value_counts()

A. Seco              6
R. Grande            5
A. Los Molles        5
A. del Sauce         5
A. La Aguadita       4
                    ..
A. El Plumerillo*    1
A. Cabral            1
A. Orco Molle        1
A. Sauce Quemado*    1
A. Corral Viejo      1
Name: NCOMPLETO, Length: 1263, dtype: int64

In [21]:
curso['TIPO'].value_counts().head(3)

Arroyo    3543
Reo         46
Rao         42
Name: TIPO, dtype: int64

#### 2.1.5 Unidades de gestión hídrica

In [22]:
unid = gpd.read_file('Unidades_de_Gestión_Hidrica/Unidades_de_Gestión_Hidrica.shp')
print(unid.shape)
unid.head(3)

(60, 36)

,OBJECTID,COD_CUENCA,SISTEMA,ZONA,CUENCA,COD_SIST,Varones,Mujeres,Poblacion,Hogares,...,Sup_Cuerpo,Long_Curso,Altura_max,Altura_min,Sup_Subcue,Perim_Subc,GlobalID,Shape__Are,Shape__Len,geometry
0,1,04,RÃ­o Quinto (Popopis),Sur,NO de la Llanura Pampeana,4-03,190.0,183.0,373.0,120.0,...,0.481750,187.470688,391,162,1504.587970,489.396906,32c2fedc-8f25-4350-abd9-918650a3089c,1.504588e+09,489396.905774,"POLYGON ((4304731.998 6245933.576, 4304731.998..."
1,2,04,Laguna del Siete,Sur,NO de la Llanura Pampeana,4-02,NaN,NaN,NaN,NaN,...,32.082932,0.000000,207,117,927.402350,285.430616,fb0b9037-9d79-4622-8474-9882e20efb89,9.274024e+08,285430.615800,"POLYGON ((4387419.666 6211304.392, 4387446.742..."
2,3,02,RÃ­o Carnero-Salsipuedes,Noreste,Laguna Mar Chiquita (Mar de Ansenuza),2-13,674799.0,737775.0,1412574.0,437710.0,...,10.226064,519.632591,1720,66,4709.575153,684.264964,b24528e0-41fc-4ed0-a5af-49baeff16c0a,4.709575e+09,684264.963636,"POLYGON ((4361671.149 6577361.130, 4361698.224..."

In [24]:
len(unid['SISTEMA'].value_counts())

60

### 3. Coberturas

In [4]:
test = gpd.read_file('coberturas/extension.gpkg')
print(test.shape)
test.head()

DriverError: 'coberturas/extension.gpkg' not recognized as a supported file format.